.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.w-24{
    max-width: 24px;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.flex-col{
    flex-direction: column;
}

.rounded{
    border-radius: 8px;
}

.text-center{
    text-align: center;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}

.p-16{
    padding: 16px;
}

.gap-8{
    gap: 8px;
}

.cursor-pointer{
    cursor: pointer;
}

.hover-text-white:hover{
    color: white;
}